body {
    font-family:Arial;
    text-align: center;
    background: #f0f0f0;

}
h1{
    color: #2c3e50;
}
button{
    padding: 10px;
    margin: 5px;
    background: #3498db;
    color: white;
    cursor: pointer;
}